sudo: required
services:
  - docker

before_install: 
  - docker build -t interdevir/docker-react -f Dockerfile.dev .

script: 
  - docker run -e CI=true interdevir/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "frontend"
  env: "Frontend-env"
  bucket_name: "elasticbeanstalk-eu-central-1-321654090613"
  bucket_path: "frontend"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_acces_key: "$AWS_SECRET_KEY"
  


  
  
